<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Schedule</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <h1>Ruby on Rails スケジュール管理アプリ</h1>
    </header>
      <%= yield %>
    <footer>
      <p>現在の日時：<%=Date.today.to_formatted_s(:default)%>　スケジュール合計：<%=User.count%></p>
      <%= @date1 %>
    </footer>
  </body>
</html>